alembic==0.9.1
arrow==0.10.0
click==6.7
Flask==0.12
Flask-Migrate==2.0.3
Flask-Script==2.0.5
Flask-SQLAlchemy==2.2
Flask-WTF==0.14.2
itsdangerous==0.24
Jinja2==2.9.5
Mako==1.0.6
MarkupSafe==1.0
psycopg2==2.7
python-dateutil==2.6.0
python-editor==1.0.3
requests==2.13.0
six==1.10.0
SQLAlchemy==1.1.6
SQLAlchemy-Utils==0.32.12
-e git+git@github.com:akofke/tridents-flask.git@1e97745d1bb22c85939b7fe2a0877e81e44eb0ca#egg=tridents
Werkzeug==0.12
WTForms==2.1
gunicorn==19.7.0
