.gcal-games {
    background: darkred;
    border-color: darkred;
}

.gcal-practices {
    background: rgb(0, 96, 42);
    border-color: rgb(0, 96, 42);
}

.gcal-social {
    background: royalblue;
    border-color: royalblue;
}

.gcal-other {
    background: dimgray;
    border-color: dimgray;
}

.fc-list-item {
    color: white;
}

.fc-list-item:hover {
    color: #4a4a4a;
}

.post-preview {
    margin-bottom: 1.5rem;
}

a.post-link:hover > .post-preview {
    box-shadow: 0 0 3px 2px rgba(0, 96, 42, 0.5);
}
