.gcal-games {
    background: darkred;
    border-color: darkred;
}

.gcal-practices {
    background: rgb(0, 96, 42);
    border-color: rgb(0, 96, 42);
}

.gcal-social {
    background: royalblue;
    border-color: royalblue;
}

.gcal-other {
    background: dimgray;
    border-color: dimgray;
}

.fc-list-item {
    color: white;
}

.fc-list-item:hover {
    color: #4a4a4a;
}

.post-link:hover > .card {
    /* inherit from bulma and change color */
    box-shadow: 0 2px 3px rgba(0, 96, 42, 0.4), 0 0 0 1px rgba(0,96,42,.4);
}
