.gcal-games {
    background: darkred;
    border-color: darkred;
}

.gcal-practices {
    background: rgb(0, 96, 42);
    border-color: rgb(0, 96, 42);
}

.gcal-social {
    background: royalblue;
    border-color: royalblue;
}

.gcal-other {
    background: dimgray;
    border-color: dimgray;
}

.fc-list-item {
    color: white;
}

.fc-list-item:hover {
    color: #4a4a4a;
}

.fc-toolbar .fc-center {
    font-size: large;
}

.box#calendar {
    /*box-shadow: 0 0 0 2px rgba(17, 163, 105, 0.62), 0 2px 3px rgba(10,10,10,.1);*/
    box-shadow: 0 0 0 2px rgba(27, 105, 128, 0.62), 0 2px 3px rgba(10,10,10,.1);
}

.post-preview {
    margin-bottom: 1.5rem;
}

a.post-link:hover > .message-header {
    background-color: #3a3a3a;
    text-decoration: underline;

}

