{% extends 'layout.html' %}
{% block title %}Home{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fullcalendar.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='vendor/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/fullcalendar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/gcal.min.js') }}"></script>

    <script>
    $(document).ready(function() {
        $('#calendar').fullCalendar({
            header: {
                left: 'month,listYear',
                center: 'title',
                right: 'today prev,next'
            },
            googleCalendarApiKey: 'AIzaSyBJcgtG_tpKU4ewCCTkym4rNtpKisS8KUA',
            eventSources: [
                {
                    googleCalendarId: 'tricountyrugby@gmail.com',
                    className: 'gcal-other'
                },
                {
                    googleCalendarId: 'aunql8gg3cftpplsme4g83b068@group.calendar.google.com',
                    className: 'gcal-games'
                },
                {
                    googleCalendarId: '05fenan6ias7hubcpor0fepla4@group.calendar.google.com',
                    className: 'gcal-practices'
                },
                {
                    googleCalendarId: '8jac2dm6qpnrjm1k9n329nt4c4@group.calendar.google.com',
                    className: 'gcal-social'
                }
            ]
        });
    });
    </script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="columns">
            {% if is_officer %}
                <div class="column is-narrow">
                    <aside class="menu">
                        <p class="menu-label">Officer Control Panel</p>
                        <ul class="menu-list">
                            <li><a href="{{ url_for('posts') }}">Create a Post</a></li>
                            <li><a href="{{ url_for('messages') }}">View Messages</a></li>
                        </ul>
                    </aside>
                </div>
            {% endif %}
            <div class="column is-two-thirds">
                <div class="box" id="calendar">
                </div>
            </div>

            <div class="column">
                <h1 class="title">Posts</h1>

                {% for post in posts %}
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">{{ post.title }}</p>
                        </header>

                        <div class="card-content">
                            <div class="content">{{ post.body }}</div>
                            <div class="content"><small>{{ post.publish_date|datetimeformat }} by <strong>{{ post.author }}</strong></small></div>
                        </div>
                    </div>

                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}