{% extends 'layout.html' %}
{% set active_page = 'join' %}

{% block content %}
    <div class="container">
        <h1 class="title is-2">Join the Team!</h1>
        <p class="content is-large">
            We welcome all new players, and no prior experience with rugby is necessary.
            If you're interested, come to a practice!
            <a href="{{ url_for('home') }}">Click here to see the latest schedule</a>.
            We hold practices at two locations for the convenience of our team members,
            one in Lockport and one in Batavia. If you have any questions feel free to
            <a href="{{ url_for('contact') }}">contact us here</a> and we'll get back to you
            as soon as possible.
        </p>

        <div class="columns">
            <div class="column">
                {% include 'includes/_lockport_map.html' %}
            </div>
            <div class="column">
                {% include 'includes/_batavia_map.html' %}
            </div>
        </div>


    </div>
{% endblock %}