<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %} • Tri-County Rugby</title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.2/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}">

    {% block head %}{% endblock %}

    {% macro active(this_page) -%}
        {% if this_page == active_page %}is-active{% endif %}
    {% endmacro %}
</head>
<body>

<nav class="nav has-shadow">
    <div class="container">
        <div class="nav-left">
            <span class="nav-item"></span>
        </div>

        <div class="nav-center">
            <a href="{{ url_for('contact') }}" class="is-tab nav-item {{ active('contact') }}">Contact</a>

            <a href="{{ url_for('home') }}" class="nav-item" id="Navbar-home-link">
                <figure class="image" id="Navbar-logo">
                    <img src="{{ url_for('static', filename='img/rugby_trimmed.svg.png') }}" alt="Home">
                </figure>
            </a>

            <a href="{{ url_for('join') }}" class="is-tab nav-item {{ active('join') }}">Join</a>
        </div>

        <div class="nav-right">
            {% if user %}
                <span class="nav-item">
                    <small>Welcome <b>{{ user['name'] }}</b></small>
                </span>
            {% endif %}
            <span class="nav-item">
                {% if user %}
                    <a href="{{ url_for('logout') }}" class="button is-danger is-outlined">Log Out</a>
                {% else %}
                    <button class="button is-success is-outlined" id="login">Log In</button>
                {% endif %}
            </span>
        </div>
    </div>
</nav>

{% with flashes = get_flashed_messages(with_categories=True) %}
    {% if flashes %}
        <section class="section" id="flashes">
            <div class="container">
                {% for category, message in flashes %}
                    <div class="notification {{ category }}">
                        <button class="delete"></button>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}
{% endwith %}

<main role="main" class="section">
    {% block content %}{% endblock %}
</main>

<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>© 2017</p>
        </div>
    </div>
</footer>

<script src="{{ url_for('static', filename='vendor/jquery.min.js') }}"></script>
<script src="https://use.fontawesome.com/2ce45b9f6b.js"></script>
<script>
    var flashesSection = $('#flashes');
    $(document).on('click', '.delete', function(e) {
        e.preventDefault();
        $(this).parent().fadeOut(100, function() {
            $(this).remove();
            if(flashesSection.find('.container').children().length === 0) {
                flashesSection.remove();
            }
        });
    })
</script>
{% include 'includes/_login.html' %}
{% block js %}{% endblock %}
</body>
</html>

