{% extends 'layout.html' %}
{% block title %}Posts{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/simplemde.min.css') }}">
{% endblock %}
{% block js %}
    <script src="{{ url_for('static', filename='vendor/simplemde.min.js')  }}"></script>
    <script>
    var simplemde = new SimpleMDE({
        element: document.getElementById('message-body'),
        forceSync: true
    })
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="title">Create a Post</h3>
        <form method="post" action="{{ url_for('posts') }}">
            {{ form.hidden_tag() }}

            {{ form.title.label(class='label') }}
            <p class="control">
                {{ form.title(class='input') }}
            </p>

            {{ form.body.label(class='label') }}
            <p class="control">
                {{ form.body(class='textarea', id='message-body') }}
            </p>

            <input value="Submit" type="submit" class="button is-primary">
        </form>

    </div>
{% endblock %}
