<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.2/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/splash.css') }}">
    
    <title>Tri-County Rugby</title>
</head>
<body>

<section class="hero is-fullheight is-dark" id="SplashPage-hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-desktop" id="SplashPage-banner">
                <div class="column is-narrow">
                    <figure class="image" id="SplashPage-logo">
                        <img src="{{ url_for('static', filename='img/rugby_trimmed.svg.png') }}" alt="">
                    </figure>
                </div>

                <div class="column" id="SplashPage-headlines">
                    <h1 class="title">Tri-County Tridents</h1>
                    <h3 class="subtitle">Rugby Football Club</h3>

                    <p>A social rugby club based in Lockport, NY welcoming players of all ages and experience.</p>

                    <p id="home-link-p">
                        <a id="home-link" href="{{ url_for('home') }}">Click to see the latest events and announcements<i class="fa fa-arrow-circle-right"></i></a>
                    </p>
                </div>
            </div>

            <div class="columns has-text-centered" id="SplashPage-nav">
                <div class="column">
                    <a href="{{ url_for('home') }}" class="button is-outlined is-inverted is-primary is-large">Home</a>
                </div>
                <div class="column">
                    <a href="" class="button is-outlined is-inverted is-primary is-large">Join the Team</a>
                </div>
                <div class="column">
                    <a href="{{ url_for('contact') }}" class="button is-outlined is-inverted is-primary is-large">Contact</a>
                </div>
            </div>
        </div>
    </div>

    <div class="hero-foot is-hidden-mobile">
        <div class="container">
            <p class="scrolldown title is-4 has-text-centered">Scroll down to read more</p>
            <p class="scrolldown subtitle has-text-centered" id="down-arrow"><i class="fa fa-2x fa-chevron-down"></i></p>
        </div>
    </div>
</section>

<section class="hero is-medium is-light is-bold" id="why-rugby-section">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-narrow">
                    <img src="{{ url_for('static', filename='img/team2_square.jpg') }}" alt="" class="is-square" id="team-round">
                </div>
                <div class="column">
                    <h1 class="title is-1">Who are we?</h1>
                    <p class="content is-large">
                        Our team is our family, and we strive to have fun both on and off the field.
                        more goes here...
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero is-medium is-dark" id="why-rugby">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title is-1">Why rugby?</h1>
                </div>
            </div>
            <div class="columns has-text-centered">
                <div class="column is-one-third">
                    <div class="content is-large">

                        <h2 class="title">A Brotherhood for Life</h2>
                        <p>blah blah blah</p>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="content is-large">
                        <h2 class="title">The World's Most Exciting Team Sport</h2>
                        <p>blah blah blah</p>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="content is-large">
                        <h2 class="title">Get in Shape</h2>
                        <p>blah blah blah</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero is-medium is-info" id="join-section">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="content is-large">
                        <h1 class="title is-1">Come see what we're about!</h1>
                        <p>
                            We welcome all new players, even those who have never touched a rugby ball before.
                            If you're interested, come to a practice!
                            <a href="{{ url_for('home') }}">Click here to see the latest schedule</a>.
                            We hold practices at two locations for the convenience of our team members,
                            one in Lockport and one near Pembroke. If you have any questions feel free to
                            <a href="{{ url_for('contact') }}">contact us here</a> and we'll get back to you
                            as soon as possible.
                        </p>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    {% include 'includes/_lockport_map.html' %}
                </div>
                <div class="column">
                    {% include 'includes/_pembroke_map.html' %}
                </div>

            </div>
        </div>
    </div>
</section>

<script src="https://use.fontawesome.com/2ce45b9f6b.js"></script>
<script src="{{ url_for('static', filename='vendor/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/splash.js') }}"></script>
</body>
</html>